<div class="flex min-h-screen bg-gray-100 p-4">
  <!-- Div da Imagem -->
  <div class="w-1/4 h-screen flex">
    <img src="../../../public/images/Capa.webp" alt="Imagem da clínica" class="w-full h-full object-cover" />
  </div>

  <!-- Div do Título, Descrição e Botão -->
  <div class="w-2/3 flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold text-blue-800 mb-4 text-center">
      Bem-vindo à Clínica Saúde e Vida
    </h1>
    <p class="text-lg text-gray-700 text-center max-w-2xl">
      Nossa missão é oferecer cuidados médicos de qualidade e atenção personalizada.
      Conte com uma equipe dedicada para cuidar de você e da sua família.
    </p>
    <button class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition" routerLink="/main">
      Iniciar Aqui
    </button>
  </div>
</div>