<div class="banner relative w-full h-40 rounded-lg shadow-lg overflow-hidden mb-8">
  <img src="../../../public/images/BannerMedicos.png" alt="Banner Médico" class="absolute inset-0 w-full h-full object-cover opacity-40" />

  <div class="absolute inset-0 flex items-end justify-center p-4">
    <h1 class="text-3xl font-bold text-blue-800 bg-white bg-opacity-75 px-6 py-2 rounded-md shadow-md">
      Médicos Cadastrados
    </h1>
  </div>
</div>

<div class="options-section bg-white rounded-lg shadow-lg p-4 mb-8">
  <div class="flex items-center justify-between cursor-pointer" (click)="toggleOptions()">
    <h2 class="text-xl font-bold text-blue-800">Gerenciar Médicos</h2>
    <button [ngClass]="{'rotate-180': isOpen}" class="text-blue-600 hover:text-blue-800 transition-transform transform">
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  </div>
  <div *ngIf="isOpen" class="mt-4 space-y-4">
    <button class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">
      Criar Novo Médico
    </button>
  </div>
</div>

<div class="p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-8 gap-6">
    <div *ngFor="let doctor of doctors; let i = index" class="flex flex-col items-center bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-all">

      <!-- Imagem do médico -->
      <img src="../../../public/images/avatar_{{ i + 1 }}.png" alt="{{ doctor.name }}" class="w-32 h-32 rounded-full mb-4 object-cover" />

      <h2 class="text-xl font-semibold text-blue-800">{{ doctor.name }}</h2>
      <p class="text-gray-600 text-sm">{{ doctor.specialty }}</p>

      <div class="flex space-x-4 mt-4">
        <!-- Ícone de editar -->
        <div class="flex items-center">
          <i class="fas fa-edit text-blue-600 cursor-pointer hover:text-blue-800 transition-colors"> Editar</i>

        </div>

        <!-- Ícone de excluir -->
        <div class="flex items-center">
          <i class="fas fa-trash-alt text-red-600 cursor-pointer hover:text-red-800 transition-colors"> Excluir</i>
        </div>
      </div>



    </div>
  </div>
</div>